.search-bar {
  border: 1px solid #604239;
  border-radius: 25px;
  background-color: #fff;
  display: flex;
  align-items: center;
  overflow: visible;
  z-index: 1;
  width: 300px;
  position: relative;
}

.search-bar:focus {
  outline: none !important;
  border: none !important;
}

.dropdown {
  position: relative;
}

.dropdown-button {
  background-color: transparent;
  color: #604239;
  border: none;
  padding: 0.5rem;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  cursor: pointer;
}

.dropdown-button i {
  font-size: 14px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 9999;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  margin-top: 0.8rem;
  min-width: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.dropdown-menu .dropdown-item {
  color: #604239 !important;
  transition: color 0.5s ease-in-out;
}
.dropdown-menu .dropdown-item:hover {
  color: #fd833d !important;
  background-color: transparent !important;
}

.dropdown-menu.show {
  display: block;
}

.line-border {
  width: 1px;
  height: 40px;
  background-color: #604239;
  margin: 0 0.5rem;
}

.search-input {
  color: #604239;
  background: transparent;
  width: 50%;
  height: 40px;
  border: none;
}

.icon-button {
  background-color: transparent;
  color: #604239;
  border: none;
  padding: 0.5rem 1rem;
  transform: translateX(60px);
}

.search-input:focus {
  outline: none !important;
  border: none !important;
}

@media (min-width: 320px) and (max-width: 340px) {
  .search-bar {
    width: 190px;
    margin-left: 48px;
    margin-right: 8px;
    transform: translateX(-4px);
  }
  .icon-button {
    transform: translateX(8px);
  }
}
@media (min-width: 341px) and (max-width: 380px) {
  .search-bar {
    width: 190px;
    margin-left: 48px;
    margin-right: 8px;
    transform: translateX(-4px);
  }
  .icon-button {
    transform: translateX(8px);
  }
}
@media (min-width: 381px) and (max-width: 426px) {
  .search-bar {
    width: 190px;
    margin-left: 68px;
    margin-right: 8px;
  }
  .icon-button {
    transform: translateX(8px);
  }
}
@media (min-width: 427px) and (max-width: 576px) {
  .search-bar {
    width: 250px;
    margin-left: 66px;
    margin-right: 8px;
  }
  .icon-button {
    transform: translateX(35px);
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .search-bar {
    width: 250px;
    margin-left: 220px;
  }
  .icon-button {
    transform: translateX(32px);
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .search-bar {
    width: 300px;
    margin-left: 135px;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .search-bar {
    width: 300px;
    margin-left: 180px;
  }
}

@media (min-width: 1441px) {
  .search-bar {
    width: 300px;
    margin-left: 180px;
  }
}
