.login-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f6f1ef;
}
/* #company-logo{
    position: absolute;
    top: 20px;
    margin-left:9rem;
    width: 298px;
    height: 92px;
    transform: scale(0.7);
    z-index: 10;
} */

#company-logo {
  position: absolute;
  top: 20px;
  left: 23%;
  transform: translateX(-50%) scale(0.7);
  width: 298px;
  height: 92px;
  z-index: 10;
}
::ng-deep .p-card,
::ng-deep.p-element {
  border-radius: 30px;
}
.login-card {
  margin: 80px auto 0 auto;
  max-width: 986px;
  background: #fff;
  transform: scale(0.9);
}

.login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
}

.login-form {
  width: 45%;
}

.login-form h2 {
  color: #604239;
  font-weight: 700;
}

::ng-deep .p-field .p-password {
  margin-bottom: 1rem;
}

::ng-deep .p-field .p-password,
::ng-deep .p-field .p-inputtext {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none !important;
  box-shadow: none !important;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.checkbox-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.forgot-link {
  color: #8e5b45;
  text-decoration: none;
}

.login-button {
  width: 100%;
  background-color: #604239;
  border-radius: 5px;
  border: none;
  color: #fff;
  transition: all 0.3s ease;
  box-shadow: 0 0 0 transparent;
}

.login-button:hover {
  background-color: #fd833d;
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}
.login-image {
  width: 50%;
  text-align: center;
  animation: float 4s ease-in-out infinite;
}
@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}
.login-image img {
  width: 90%;
}

/* Responsive Styles for Tablets and Mobile */
@media (min-width: 1441px) {
  .login-wrapper {
    position: relative;
  }
  .login-container {
    padding: 1rem;
  }

  .login-form {
    width: 100%;
    margin-bottom: 20px;
  }

  .login-image {
    width: 100%;
    margin-top: 10px;
    order: 1;
  }

  #company-logo {
    position: absolute;
    width: 220px;
    height: 70px;
    top: 20px;
    left: 20%;
    transform: translateX(-10%);
  }

  h2 {
    font-size: 20px;
  }

  .login-button {
    padding: 12px;
    font-size: 16px;
  }
}
@media (min-width: 1401px) and (max-width: 1440px) {
  .login-wrapper {
    position: relative;
  }
  .login-container {
    padding: 1rem;
  }

  .login-form {
    width: 100%;
    margin-bottom: 20px;
  }

  .login-image {
    width: 100%;
    margin-top: 10px;
    order: 1;
  }

  #company-logo {
    position: absolute;
    width: 220px;
    height: 70px;
    top: 20px;
    left: 19%;
    transform: translateX(-10%);
  }

  h2 {
    font-size: 20px;
  }

  .login-button {
    padding: 12px;
    font-size: 16px;
  }
}
@media (min-width: 1361px) and (max-width: 1400px) {
  .login-wrapper {
    position: relative;
  }
  .login-container {
    padding: 1rem;
  }

  .login-form {
    width: 100%;
    margin-bottom: 20px;
  }

  .login-image {
    width: 100%;
    margin-top: 10px;
    order: 1;
  }

  #company-logo {
    position: absolute;
    width: 220px;
    height: 70px;
    top: 20px;
    left: 18%;
    transform: translateX(-10%);
  }

  h2 {
    font-size: 20px;
  }

  .login-button {
    padding: 12px;
    font-size: 16px;
  }
}
@media (min-width: 1314px) and (max-width: 1360px) {
  .login-wrapper {
    position: relative;
  }
  .login-container {
    padding: 1rem;
  }

  .login-form {
    width: 100%;
    margin-bottom: 20px;
  }

  .login-image {
    width: 100%;
    margin-top: 10px;
    order: 1;
  }

  #company-logo {
    position: absolute;
    width: 220px;
    height: 70px;
    top: 20px;
    left: 14%;
    transform: translateX(10%);
  }

  h2 {
    font-size: 20px;
  }

  .login-button {
    padding: 12px;
    font-size: 16px;
  }
}
@media (min-width: 1281px) and (max-width: 1313px) {
  .login-wrapper {
    position: relative;
  }
  .login-container {
    padding: 1rem;
  }

  .login-form {
    width: 100%;
    margin-bottom: 20px;
  }

  .login-image {
    width: 100%;
    margin-top: 10px;
    order: 1;
  }

  #company-logo {
    position: absolute;
    width: 220px;
    height: 70px;
    top: 20px;
    left: 16%;
    transform: translateX(-10%);
  }

  h2 {
    font-size: 20px;
  }

  .login-button {
    padding: 12px;
    font-size: 16px;
  }
}
@media (min-width: 1101px) and (max-width: 1280px) {
  .login-wrapper {
    position: relative;
  }
  .login-container {
    padding: 1rem;
  }

  .login-form {
    width: 100%;
    margin-bottom: 20px;
  }

  .login-image {
    width: 100%;
    margin-top: 10px;
    order: 1;
  }

  #company-logo {
    position: absolute;
    width: 220px;
    height: 70px;
    top: 20px;
    left: 10%;
    transform: translateX(-8%);
  }

  h2 {
    font-size: 20px;
  }

  .login-button {
    padding: 12px;
    font-size: 16px;
  }
}
@media (min-width: 1081px) and (max-width: 1100px) {
  .login-wrapper {
    position: relative;
  }
  .login-container {
    padding: 1rem;
  }

  .login-form {
    width: 100%;
    margin-bottom: 20px;
  }

  .login-image {
    width: 100%;
    margin-top: 10px;
    order: 1;
  }

  #company-logo {
    position: absolute;
    width: 220px;
    height: 70px;
    top: 20px;
    left: 10%;
    transform: translateX(-11%);
  }

  h2 {
    font-size: 20px;
  }

  .login-button {
    padding: 12px;
    font-size: 16px;
  }
}
@media (min-width: 1023px) and (max-width: 1080px) {
  .login-wrapper {
    position: relative;
  }

  .login-container {
    padding: 1rem;
  }

  .login-form {
    width: 100%;
    margin-bottom: 20px;
  }

  .login-image {
    width: 100%;
    margin-top: 10px;
    order: 1;
  }

  #company-logo {
    position: absolute;
    width: 220px;
    height: 70px;
    top: 20px;
    left: 10%;
    transform: translateX(-14%);
  }

  h2 {
    font-size: 20px;
  }

  .login-button {
    padding: 12px;
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1022px) {
  .login-wrapper {
    position: relative;
  }
  .login-container {
    padding: 1rem;
  }

  .login-form {
    width: 100%;
    margin-bottom: 20px;
  }

  .login-image {
    width: 100%;
    margin-top: 10px;
    order: 1;
  }

  #company-logo {
    width: 220px;
    height: 70px;
    top: 20px;
    left: 10%;
    transform: translateX(-20%);
  }

  h2 {
    font-size: 20px;
  }

  .login-button {
    padding: 12px;
    font-size: 16px;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .login-wrapper {
    height: 130vh;
  }
  .login-container {
    padding: 1rem;
    flex-direction: column;
  }

  .login-form {
    width: 90%;
    margin-bottom: 20px;
  }

  .login-image {
    width: 100%;
    margin-top: 10px;
    order: 1;
  }

  .login-button {
    padding: 15px;
    font-size: 18px;
  }

  #company-logo {
    width: 200px;
    height: 60px;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
  }
  .options {
    font-size: 0.75rem;
  }
}
