<div class="p-6 mt-8">
  <!-- Header + Search -->
  <div class="content-address flex justify-between items-center mb-6">
    <h2>Stores Management</h2>
    <div class="input-group search-bar">
      <input
        type="text"
        [(ngModel)]="searchTerm"
        placeholder="Search here..."
        type="text"
        class="border-0 search-input"
      />
      <button class="btn icon-button" type="button">
        <i class="pi pi-search"></i>
      </button>
    </div>
  </div>
  <!-- Cards -->
  <div>
    <div class="row g-4">
      <div
        *ngFor="let store of filteredStores"
        class="col-sm-12 col-md-6 col-lg-4 col-xxl-3"
      >
        <div class="card card-width shadow-sm p-3">
          <div class="row g-2">
            <div
              *ngFor="let img of store.images"
              class="{{ store.images.length === 2 ? 'col-6' : 'col-12' }}"
            >
              <img
                [src]="img"
                alt="store"
                class="img-fluid rounded"
                style="object-fit: cover"
              />
            </div>
          </div>

          <div class="card-body">
            <h5 class="card-title">{{ store.name }}</h5>
            <p class="card-text text-muted">{{ store.category }}</p>

            <div class="d-flex justify-content-between align-items-center mt-3">
              <p class="text-secondary mb-0">{{ store.products }} Products</p>
              <span
                class="badge"
                [ngClass]="
                  store.status === 'Active' ? 'bg-success' : 'bg-secondary'
                "
              >
                {{ store.status }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
