.dropdown-menu .dropdown-item {
  color: #604239 !important;
  transition: color 0.5s ease-in-out;
}
.dropdown-menu .dropdown-item:hover {
  color: #fd833d !important;
  background-color: transparent !important;
}
.dropdown-menu {
  margin-top: -0.3rem;
}
.show {
  display: block;
}
.line-border {
  width: 1px;
  height: 30px;
  background-color: rgb(96, 66, 57);
  opacity: 0.8;
  margin-inline: 15px;
}
.pi-bell,
.bi-chat-left-text {
  color: #604239;
  border: 1px solid #604239;
  border-radius: 50%;
  padding: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-inline: 5px;
}
.admin-name {
  color: #fd833d;
  font-weight: bold;
  font-size: 10px;
}
.Logo {
  display: flex;
  gap: 15px;
  align-items: center;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown button:focus {
  outline: none !important;
  box-shadow: none !important;
}
/**** media query ****/
@media (min-width: 320px) and (max-width: 426px) {
  .my-navbar {
    z-index: 999;
    position: fixed;
    width: 100%;
  }
  .dropdown button:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  .menu-bar {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }

  .pi-bars {
    font-size: 1.5rem;
    color: #402c26;
    text-align: center;
  }
  .navbar-toggler {
    border: 1px solid #402c26 !important;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
  }
  .navbar-toggler:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  .my-navbar .navbar-collapse {
    padding-block: 20px;
  }

  input {
    width: 50%;
  }
  .line-border {
    width: 1px;
    height: 30px;
    background-color: rgb(96, 66, 57);
    opacity: 0.8;
    margin-block: 5px;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Logo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 15px;
    align-items: center;
  }
  .admin-content {
    text-align: center;
  }
  .Logo img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: block;
    margin-bottom: 10px;
  }
  .admin-name {
    color: #fd833d;
    font-weight: bold;
    font-size: 10px;
  }
}
@media (min-width: 427px) and (max-width: 576px) {
  .dropdown button:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  .menu-bar {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }

  .pi-bars {
    font-size: 1.5rem;
    color: #402c26;
    text-align: center;
  }
  .navbar-toggler {
    border: 1px solid #402c26 !important;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
  }
  .navbar-toggler:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  .my-navbar .navbar-collapse {
    padding-block: 20px;
  }

  input {
    width: 50%;
  }
  .line-border {
    width: 1px;
    height: 30px;
    background-color: rgb(96, 66, 57);
    opacity: 0.8;
    margin-block: 5px;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Logo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 15px;
    align-items: center;
  }
  .admin-content {
    text-align: center;
  }
  .Logo img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: block;
    margin-bottom: 10px;
  }
  .admin-name {
    color: #fd833d;
    font-weight: bold;
    font-size: 10px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .menu-bar {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
  .pi-bars {
    font-size: 1.5rem;
    color: #402c26;
    text-align: center;
  }
  .navbar-toggler {
    border: 1px solid #402c26 !important;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transform: translateX(120px);
  }
  .navbar-toggler:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  .my-navbar .navbar-collapse {
    padding-block: 30px;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pi-bell,
  .bi-chat-left-text {
    color: #604239;
    border: 1px solid #604239;
    border-radius: 50%;
    padding: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-inline: 5px;
  }
  .Logo img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: block;
    margin-bottom: 10px;
  }

  .Logo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 15px;
    align-items: center;
  }
  .admin-content {
    text-align: center;
  }

  .my-navbar {
    z-index: 1;
    position: fixed;

    height: 87px;
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991.99px) {
  .dropdown button:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Logo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 15px;
    align-items: center;
  }

  .menu-bar {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
  .pi-bars {
    font-size: 1.5rem;
    color: #402c26;
    text-align: center;
  }
  .navbar-toggler {
    border: 1px solid #402c26 !important;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    margin-right: 140px;
  }
  .navbar-toggler:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  .my-navbar {
    z-index: 1000;
    position: fixed;
    /* margin-left: 220px; */
    height: 90px;
    width: 100%;
  }
  .navbar-nav {
    margin-right: 130px;
    margin-top: 5px;
  }
  .admin-content {
    text-align: center;
  }
}
@media (min-width: 991.99px) and (max-width: 992px) {
  .Logo {
    display: flex;
    gap: 15px;
  }
}
@media (min-width: 993px) and (max-width: 1024px) {
  .dropdown button:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .Logo {
    display: flex;
    gap: 15px;
    align-items: center;
  }

  .menu-bar {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
  .pi-bars {
    font-size: 1.5rem;
    color: #402c26;
    text-align: center;
  }
  .navbar-toggler {
    border: 1px solid #402c26 !important;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    margin-right: 140px;
  }
  .navbar-toggler:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  .my-navbar {
    z-index: 999;
    position: fixed;
    /* margin-left: 225px;   */
    height: 82px;
    width: 100%;
  }
  .navbar-nav {
    margin-right: 15px;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .my-navbar {
    z-index: 1;
    position: fixed;
    /* margin-left: 218px;   */
    height: 82px;
    width: 100%;
    margin-bottom: 250px;
  }
  .navbar-nav {
    margin-right: -20px;
  }
}
@media (min-width: 1441px) {
  .my-navbar {
    z-index: 1;
    position: fixed;
    /* margin-left: 240px; */
    height: 80px;
    width: 100%;
    margin-bottom: 250px;
  }
  .navbar-nav {
    margin-right: -20px;
  }
}
